body {
  width: 100%;
  background-color: #252525;
  font-family: "Pretendard Variable", "Pretendard", -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Noto Sans KR", "Segoe UI", Roboto, sans-serif;
  color: #fff;
}

html {
  width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
  font: "Pretendard Variable", "Pretendard", -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Noto Sans KR", "Segoe UI", Roboto, sans-serif;
}

header {
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background: rgba(0, 0, 0, 0.8);
}
header #upHeader {
  width: 90%;
  height: 60px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
header #upHeader h1 {
  width: 150px;
}
header #upHeader h1 img {
  width: 100%;
}
header #upHeader #account {
  display: flex;
  font-size: 1rem;
  font-weight: bold;
}
header #upHeader #account a:hover {
  color: #F5C542;
}
header #upHeader #account .logout {
  background: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Pretendard Variable", "Pretendard", -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Noto Sans KR", "Segoe UI", Roboto, sans-serif;
}
header #downHeader {
  width: 90%;
  height: 60px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
header #downHeader #menu {
  margin-right: 30%;
}
header #downHeader #menu ul {
  display: flex;
  gap: 8%;
  font-size: 1.2rem;
  font-weight: bold;
  align-items: center;
}
header #downHeader #menu ul li {
  position: relative;
}
header #downHeader #menu ul li a {
  display: block;
  color: #fff;
}
header #downHeader #menu ul li a:hover {
  color: #F5C542;
}
header #downHeader #menu ul li:hover > .subMenu {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0);
}
header #downHeader #menu ul li .subMenu {
  color: #fff;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 40px);
  width: -moz-max-content;
  width: max-content;
  display: block;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.8);
  padding: 40px 50px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s cubic-bezier(0.25, 1, 0.5, 1), visibility 0.4s;
}
header #downHeader #menu ul li .subMenu ul {
  width: 100%;
  gap: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}
header #downHeader #menu ul li .subMenu ul li {
  display: block;
  text-align: center;
}
header #downHeader #menu ul li .subMenu ul li a {
  display: block;
}
header #downAccount ul {
  display: flex;
  gap: 5%;
  font-size: 2rem;
  align-items: center;
}
header #downAccount ul li .xi-heart-o, header #downAccount ul li .xi-cart-o {
  color: #fff;
  cursor: pointer;
}
header #downAccount ul li .xi-heart-o:hover, header #downAccount ul li .xi-cart-o:hover {
  color: #F5C542;
}
header #downAccount ul li #searchBox {
  width: 200px;
  height: 30px;
  position: relative;
  align-items: center;
  border: 3px solid #fff;
  border-radius: 40px;
  cursor: pointer;
}
header #downAccount ul li #searchBox input {
  width: 140px;
  height: 25px;
  font-size: 1rem;
  background: none;
  padding-left: 20px;
  border: none;
  outline: none;
  color: #fff;
  display: block;
  align-items: center;
}
header #downAccount ul li #searchBox .xi-search {
  font-size: 1.2rem;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

#registerSection {
  width: 800px;
  margin: 0 auto;
  padding-top: 120px;
  display: flex;
  justify-content: center;
}
#registerSection .registerTitle {
  text-align: center;
  font-size: 2.5rem;
  line-height: 5;
}
#registerSection label {
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 5px;
  font-size: 1rem;
}
#registerSection label.idLabel {
  width: 480px;
  margin-left: 80px;
  display: flex;
  justify-content: space-between;
}
#registerSection input {
  width: 200px;
  height: 20px;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  font-size: 0.8rem;
  background: none;
  border: 2px solid lightgrey;
  color: #fff;
}
#registerSection .idBox {
  display: flex;
  align-items: center;
  gap: 10px;
}
#registerSection .checkId {
  border: none;
  border-radius: 5px;
  background: #000;
  color: #fff;
  padding: 8px 10px;
  cursor: pointer;
}
#registerSection .btnBox {
  width: 400px;
  margin: 0 auto;
  display: flex;
  gap: 10px;
}
#registerSection .btnBox .registerBtn {
  width: 50%;
  border: none;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  padding: 5px 10px;
  height: 45px;
  margin-top: 35px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 12px;
}
#registerSection .btnBox .resetBtn {
  width: 50%;
  border: none;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  padding: 5px 10px;
  height: 45px;
  margin-top: 35px;
  font-weight: bold;
  cursor: pointer;
}/*# sourceMappingURL=register.css.map */